body {
    background-color: black;
    font-family: sans-serif;
    font-weight: bold;
}

button {
    border: none;
    font-size: 115%;
    font-weight: bold;
    background-color: crimson;
}

.disabled {
    display: none !important;
}

.main {
    display: flex;
    margin-bottom: 4vw;
    align-items: center;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.main button {
    width: 25vh;
    height: 25vh;
    font-size: 130%;
}

.panel {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

.panel button {
    width: 18vh;
    height: 18vh;
}

.subpanel {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.crimsontext {
    color: crimson;
}

#languageButton {
    width: 5vh;
    height: 5vh;
    font-size: 100%;
    position: absolute;

}

#speedrunmode {
    margin-bottom: 3vh;
}

#gnome {
    background-image: url(IMG/gnomesprite.png);
    background-repeat: no-repeat;
    transition: ease-in-out 3s;
    background-size: cover;
    position: absolute;
    height: 8vh;
    width: 8vh;
    z-index: 2;
}

#finalscore {
    font-size: 175%;
}

#reset a {
    color: black;
    text-decoration: none !important;
}

@media only screen and (max-width:480px) {
    body {
        font-size: 80%;
    }

    #languageButton {
        height: 6vw;
        width: 6vw;
    }

    #gnome {
        height: 11vw;
        width: 11vw;
    }

    .panel button {
        height: 24vw;
        width: 24vw;
    }

    .main button {
        height: 34vw;
        width: 34vw;
    }

    .main {
        margin-bottom: 6vh;
    }
}
