body {
    background-color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 107.5%;
}

button {
    font-size: 115%;
    font-weight: bold;
    background-color: crimson;
    border: 0.5vw solid crimson;
}

.disabled {
    display: none !important;
}

.main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10vh;
}

.main button {
    font-size: 130%;
    width: 60vw;
    height: 60vw;
}

.panel {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

.panel button {
    width: 30vw;
    height: 30vw;
}

.subpanel {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.crimsontext {
    color: crimson;
}

#languageButton {
    position: absolute;
}

#speedrunmode {
    margin-bottom: 3vh;
}

#gnome {
    background-image: url(IMG/gnomesprite.png);
    background-repeat: no-repeat;
    transition: ease-in-out 3s;
    background-size: cover;
    position: absolute;
    height: 12vw;
    z-index: 2;
    width: 12vw;
}

#finalscore {
    font-size: 175%;
}

#reset a {
    color: black;
    text-decoration: none !important;
}

@media (device-aspect-ratio: 16/9) {
    #gnome {
        height: 8vh;
        width: 8vh;
    }

    .panel button {
        height: 18vh;
        width: 18vh;
    }

    .main button {
        height: 25vh;
        width: 25vh;
    }

    .main {
        margin-bottom: 4vw;
    }
}

@media (device-aspect-ratio: 5/4) {
    #gnome {
        height: 8vh;
        width: 8vh;
    }

    .panel button {
        height: 18vh;
        width: 18vh;
    }

    .main button {
        height: 25vh;
        width: 25vh;
    }

    .main {
        margin-bottom: 4vw;
    }
}

@media (device-aspect-ratio: 4/3) {
    #gnome {
        height: 8vh;
        width: 8vh;
    }

    .panel button {
        height: 18vh;
        width: 18vh;
    }

    .main button {
        height: 25vh;
        width: 25vh;
    }

    .main {
        margin-bottom: 4vw;
    }
}

@media (device-aspect-ratio: 1/1) {
    #gnome {
        height: 8vh;
        width: 8vh;
    }

    .panel button {
        height: 18vh;
        width: 18vh;
    }

    .main button {
        height: 25vh;
        width: 25vh;
    }

    .main {
        margin-bottom: 4vw;
    }
}
